table {

    font-family: 'arial';
    border-collapse: collapse;
    border:1px solid #000;

    tr {

        th {
            border-bottom:1px solid black;
            padding: 5px;
            font-weight: bold;
            text-align:center;
        }

        th:nth-child(n + 1) {
            border-left:1px solid black;
        }

    }

}