<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="56ae8d89-77f4-46dd-80da-b1816200d4f5" Publisher="CN=Scott" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="56ae8d89-77f4-46dd-80da-b1816200d4f5" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Factoid</DisplayName>
    <PublisherDisplayName>Scott</PublisherDisplayName>
    <Logo>Assets\PackageLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Factoid.App">
      <uap:VisualElements DisplayName="Factoid" Square150x150Logo="Assets\MediumLogo.png" Square44x44Logo="Assets\AppIcon.png" Description="Factoid" BackgroundColor="#298FCC">
        <uap:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\SmallLogo.png" Square310x310Logo="Assets\LargeLogo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashLogo.png" BackgroundColor="#298FCC" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="Factoid.Services.Background.GeneralCommandService">
          <uap:AppService Name="GeneralCommandService" />
        </uap:Extension>
        <uap:Extension Category="windows.personalAssistantLaunch" />
    </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>